# Ignore Node.js dependencies
/Frontend/node_modules/

# Ignore build output
/Frontend/dist/

# Ignore the database file
/Backend/Candy-Panel.db

# Optional: Python cache files
/Backend/__pycache__/
*.pyc

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
